{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "max-len": [
      "error",
      120
    ],
    "comma-dangle": "off",
    "import/no-named-as-default": "off",
    "import/no-named-as-default-member": "off"
  }
}